body {
  background-color: #1c1c1c;
  color: #ffffff;
  font-family: sans-serif;
}

#form {
  display: flex;
  flex-direction: column;
}

#form input {
  margin: 5px 0;
  padding-left: 5px;
  font-weight: bold;
}

#form button {
  margin: 5px 0;
}

#main {
  max-width: 768px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#users {
  max-width: 768px;
  margin: 20px 0;
}

#users ul {
  width: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#users ul li {
  background-color: #ffffff;
  color: #1c1c1c;
  width: 350px;
  margin: 5px;
  padding: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid;
}
